flow/flows.json
[{"id":"a2ddf7f8.cb3a78","type":"tab","label":"Pastilla","disabled":false,"info":""},{"id":"a5f1b84f.8e3548","type":"inject","z":"a2ddf7f8.cb3a78","name":"CONFIGURAR","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["2b4a1b99.574fc4"]]},{"id":"2b4a1b99.574fc4","type":"function","z":"a2ddf7f8.cb3a78","name":"","func":"global.set(\"pastilla\",true);\n\n\nd = new Date();\n//Resta 1 al dia. Ojo que es para que arranque pidiendo la pastilla\n \nfecha = d.getUTCFullYear()+''+(d.getMonth()+1)+''+(d.getUTCDate()-1);\nmsg.payload = fecha;\nglobal.set(\"pastilla_fecha\",fecha);\n    \nreturn msg;","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["c5ff8aba.ccf088"]]},{"id":"c5ff8aba.ccf088","type":"debug","z":"a2ddf7f8.cb3a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":100,"wires":[]},{"id":"dfe4759e.8d8c58","type":"function","z":"a2ddf7f8.cb3a78","name":"ValidarPastilla","func":"d = new Date();\nfecha = d.getUTCFullYear()+''+d.getMonth()+''+d.getUTCDate();\nfecha_pastilla = global.get(\"pastilla_fecha\");\n\nif(fecha == fecha_pastilla) {\n    msg.pastilla = true;\n} else {\n    msg.pastilla = false;\n    msg.payload = \"PASTILLA\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":180,"wires":[[]]},{"id":"89a98bb6.807e38","type":"mqtt in","z":"a2ddf7f8.cb3a78","name":"","topic":"PASTILLA","qos":"2","datatype":"auto","broker":"56f5e0e3.0c05e","x":100,"y":280,"wires":[["75bdc30e.18e88c","4833d711.c2eea8"]]},{"id":"75bdc30e.18e88c","type":"function","z":"a2ddf7f8.cb3a78","name":"configurarPastillaRememberFile","func":"d = new Date();\nd.setTime( d.getTime() - d.getTimezoneOffset()*60*1000 );\n//fecha = d.getUTCFullYear()+''+d.getMonth()+''+d.getUTCDate();\nfecha = d.getUTCFullYear()+''+(d.getMonth()+1)+''+(d.getUTCDate());\nmsg.payload = {\"pastilla_fecha\":fecha,\"intentos\":\"0\"};\nglobal.set(\"pastilla_fecha\",fecha);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["5d17355b.9b579c","9f9e1a39.109df8"]]},{"id":"ecf9278c.61bc08","type":"mqtt out","z":"a2ddf7f8.cb3a78","name":"","topic":"MENSAJE","qos":"","retain":"","broker":"56f5e0e3.0c05e","x":930,"y":280,"wires":[]},{"id":"9f9e1a39.109df8","type":"http request","z":"a2ddf7f8.cb3a78","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Corrientes, AR&appid=TOKEN&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":280,"wires":[["30905719.803508"]]},{"id":"30905719.803508","type":"function","z":"a2ddf7f8.cb3a78","name":"","func":"msg.payload = msg.payload.main.temp+\"C \"+msg.payload.main.humidity+\"%\";\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":280,"wires":[["ecf9278c.61bc08"]]},{"id":"4833d711.c2eea8","type":"debug","z":"a2ddf7f8.cb3a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":340,"wires":[]},{"id":"5d17355b.9b579c","type":"file","z":"a2ddf7f8.cb3a78","name":"","filename":"/home/pi/pastillaRemember.json","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":690,"y":220,"wires":[[]]},{"id":"56f5e0e3.0c05e","type":"mqtt-broker","z":"","name":"RPI","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]